$formBlue: #c66c00;
$formBlockBlue: #a95100;


$bgGradient: linear-gradient(to bottom, #fcd85b 9%,#fcce06 19%,#ec6200 100%);

$gps-burg: rgba(182, 15, 97, 0.9);
$gps-orange:rgba(242, 112, 45, 0.9);
$gps-skyblue:rgba(45, 181, 167, 0.9);
$gps-lightblue: rgba(48, 162, 233, 0.9);
$gps-purple:rgba(190, 61, 244, 0.9);
$gps-green:rgba(180, 224, 67, 0.9);
$gps-yellow:rgba(242, 194, 58, 0.9);